In [1]:
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df_train = pd.read_csv("train.csv", sep=",")
df_train

,time_left,ct_score,t_score,map,bomb_planted,ct_health,t_health,ct_armor,t_armor,ct_money,...,t_grenade_flashbang,ct_grenade_smokegrenade,t_grenade_smokegrenade,ct_grenade_incendiarygrenade,t_grenade_incendiarygrenade,ct_grenade_molotovgrenade,t_grenade_molotovgrenade,ct_grenade_decoygrenade,t_grenade_decoygrenade,target
0,114.95,4.0,0.0,de_inferno,False,500.0,500.0,493.0,400.0,3600.0,...,2.0,5.0,1.0,4.0,0.0,0.0,2.0,0.0,0.0,CT
1,114.92,7.0,4.0,de_dust2,False,500.0,500.0,0.0,500.0,11950.0,...,5.0,0.0,5.0,0.0,0.0,0.0,5.0,0.0,0.0,T
2,74.88,4.0,6.0,de_overpass,False,270.0,200.0,292.0,200.0,1700.0,...,2.0,1.0,2.0,0.0,0.0,1.0,2.0,1.0,0.0,CT
3,21.46,1.0,1.0,de_nuke,True,100.0,268.0,100.0,385.0,150.0,...,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,T
4,175.00,9.0,6.0,de_mirage,False,500.0,500.0,200.0,300.0,2700.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82009,94.90,7.0,3.0,de_train,False,400.0,400.0,395.0,345.0,2250.0,...,3.0,4.0,2.0,2.0,0.0,0.0,4.0,0.0,0.0,CT
82010,55.69,9.0,11.0,de_nuke,False,400.0,379.0,400.0,357.0,450.0,...,3.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,T
82011,114.95,1.0,0.0,de_nuke,False,500.0,500.0,500.0,300.0,450.0,...,2.0,5.0,2.0,4.0,0.0,0.0,1.0,0.0,0.0,CT
82012,106.95,11.0,8.0,de_dust2,False,500.0,500.0,490.0,200.0,2050.0,...,2.0,3.0,2.0,4.0,0.0,1.0,1.0,0.0,0.0,CT
82013,34.95,9.0,11.0,de_mirage,False,295.0,485.0,0.0,485.0,6950.0,...,5.0,0.0,1.0,0.0,0.0,0.0,4.0,0.0,0.0,T

In [3]:
df_test = pd.read_csv("test.csv", sep=",")
df_test

,id,time_left,ct_score,t_score,map,bomb_planted,ct_health,t_health,ct_armor,t_armor,...,ct_grenade_flashbang,t_grenade_flashbang,ct_grenade_smokegrenade,t_grenade_smokegrenade,ct_grenade_incendiarygrenade,t_grenade_incendiarygrenade,ct_grenade_molotovgrenade,t_grenade_molotovgrenade,ct_grenade_decoygrenade,t_grenade_decoygrenade
0,1,49.95,8.0,15.0,de_dust2,False,300.0,500.0,300.0,491.0,...,2.0,3.0,0.0,5.0,1.0,0.0,0.0,1.0,0.0,0.0
1,2,114.95,6.0,6.0,de_dust2,False,500.0,500.0,499.0,484.0,...,2.0,5.0,2.0,5.0,1.0,0.0,0.0,4.0,0.0,0.0
2,3,175.00,7.0,8.0,de_dust2,False,500.0,500.0,400.0,200.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,4,14.92,0.0,4.0,de_overpass,False,232.0,320.0,300.0,311.0,...,1.0,1.0,0.0,3.0,1.0,0.0,0.0,2.0,0.0,0.0
4,5,37.52,13.0,11.0,de_train,True,290.0,422.0,291.0,415.0,...,3.0,3.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40391,40392,27.41,4.0,5.0,de_vertigo,True,271.0,0.0,300.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40392,40393,175.00,7.0,8.0,de_nuke,False,500.0,500.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40393,40394,94.95,14.0,7.0,de_vertigo,False,500.0,485.0,486.0,493.0,...,4.0,1.0,4.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
40394,40395,77.27,18.0,18.0,de_train,False,500.0,498.0,500.0,499.0,...,3.0,3.0,1.0,3.0,1.0,0.0,0.0,2.0,0.0,0.0
40395,40396,114.90,2.0,5.0,de_vertigo,False,500.0,500.0,499.0,100.0,...,5.0,0.0,5.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0

In [4]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82014 entries, 0 to 82013
Data columns (total 97 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   time_left                     82014 non-null  float64
 1   ct_score                      82014 non-null  float64
 2   t_score                       82014 non-null  float64
 3   map                           82014 non-null  object
 4   bomb_planted                  82014 non-null  bool
 5   ct_health                     82014 non-null  float64
 6   t_health                      82014 non-null  float64
 7   ct_armor                      82014 non-null  float64
 8   t_armor                       82014 non-null  float64
 9   ct_money                      82014 non-null  float64
 10  t_money                       82014 non-null  float64
 11  ct_helmets                    82014 non-null  float64
 12  t_helmets                     82014 non-null  float64
 13  ct_defuse_kits                82014 non-null  float64
 14  ct_players_alive              82014 non-null  float64
 15  t_players_alive               82014 non-null  float64
 16  ct_weapon_ak47                82014 non-null  float64
 17  t_weapon_ak47                 82014 non-null  float64
 18  ct_weapon_aug                 82014 non-null  float64
 19  t_weapon_aug                  82014 non-null  float64
 20  ct_weapon_awp                 82014 non-null  float64
 21  t_weapon_awp                  82014 non-null  float64
 22  ct_weapon_bizon               82014 non-null  float64
 23  t_weapon_bizon                82014 non-null  float64
 24  ct_weapon_cz75auto            82014 non-null  float64
 25  t_weapon_cz75auto             82014 non-null  float64
 26  ct_weapon_elite               82014 non-null  float64
 27  t_weapon_elite                82014 non-null  float64
 28  ct_weapon_famas               82014 non-null  float64
 29  t_weapon_famas                82014 non-null  float64
 30  ct_weapon_g3sg1               82014 non-null  float64
 31  t_weapon_g3sg1                82014 non-null  float64
 32  ct_weapon_galilar             82014 non-null  float64
 33  t_weapon_galilar              82014 non-null  float64
 34  ct_weapon_glock               82014 non-null  float64
 35  t_weapon_glock                82014 non-null  float64
 36  ct_weapon_m249                82014 non-null  float64
 37  t_weapon_m249                 82014 non-null  float64
 38  ct_weapon_m4a1s               82014 non-null  float64
 39  t_weapon_m4a1s                82014 non-null  float64
 40  ct_weapon_m4a4                82014 non-null  float64
 41  t_weapon_m4a4                 82014 non-null  float64
 42  ct_weapon_mac10               82014 non-null  float64
 43  t_weapon_mac10                82014 non-null  float64
 44  ct_weapon_mag7                82014 non-null  float64
 45  t_weapon_mag7                 82014 non-null  float64
 46  ct_weapon_mp5sd               82014 non-null  float64
 47  t_weapon_mp5sd                82014 non-null  float64
 48  ct_weapon_mp7                 82014 non-null  float64
 49  t_weapon_mp7                  82014 non-null  float64
 50  ct_weapon_mp9                 82014 non-null  float64
 51  t_weapon_mp9                  82014 non-null  float64
 52  ct_weapon_negev               82014 non-null  float64
 53  t_weapon_negev                82014 non-null  float64
 54  ct_weapon_nova                82014 non-null  float64
 55  t_weapon_nova                 82014 non-null  float64
 56  ct_weapon_p90                 82014 non-null  float64
 57  t_weapon_p90                  82014 non-null  float64
 58  ct_weapon_r8revolver          82014 non-null  float64
 59  t_weapon_r8revolver           82014 non-null  float64
 60  ct_weapon_sawedoff            82014 non-null  float64
 61  t_weapon_sawedoff             82014 non-null  float64
 62  ct_weapon_scar20              82014 non-null  float64
 63  t_weapon_scar20               82014 non-null  float64
 64  ct_weapon_sg553               82014 non-null  float64
 65  t_weapon_sg553                82014 non-null  float64
 66  ct_weapon_ssg08               82014 non-null  float64
 67  t_weapon_ssg08                82014 non-null  float64
 68  ct_weapon_ump45               82014 non-null  float64
 69  t_weapon_ump45                82014 non-null  float64
 70  ct_weapon_xm1014              82014 non-null  float64
 71  t_weapon_xm1014               82014 non-null  float64
 72  ct_weapon_deagle              82014 non-null  float64
 73  t_weapon_deagle               82014 non-null  float64
 74  ct_weapon_fiveseven           82014 non-null  float64
 75  t_weapon_fiveseven            82014 non-null  float64
 76  ct_weapon_usps                82014 non-null  float64
 77  t_weapon_usps                 82014 non-null  float64
 78  ct_weapon_p250                82014 non-null  float64
 79  t_weapon_p250                 82014 non-null  float64
 80  ct_weapon_p2000               82014 non-null  float64
 81  t_weapon_p2000                82014 non-null  float64
 82  ct_weapon_tec9                82014 non-null  float64
 83  t_weapon_tec9                 82014 non-null  float64
 84  ct_grenade_hegrenade          82014 non-null  float64
 85  t_grenade_hegrenade           82014 non-null  float64
 86  ct_grenade_flashbang          82014 non-null  float64
 87  t_grenade_flashbang           82014 non-null  float64
 88  ct_grenade_smokegrenade       82014 non-null  float64
 89  t_grenade_smokegrenade        82014 non-null  float64
 90  ct_grenade_incendiarygrenade  82014 non-null  float64
 91  t_grenade_incendiarygrenade   82014 non-null  float64
 92  ct_grenade_molotovgrenade     82014 non-null  float64
 93  t_grenade_molotovgrenade      82014 non-null  float64
 94  ct_grenade_decoygrenade       82014 non-null  float64
 95  t_grenade_decoygrenade        82014 non-null  float64
 96  target                        82014 non-null  object
dtypes: bool(1), float64(94), object(2)
memory usage: 60.1+ MB

In [5]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40396 entries, 0 to 40395
Data columns (total 97 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            40396 non-null  int64
 1   time_left                     40396 non-null  float64
 2   ct_score                      40396 non-null  float64
 3   t_score                       40396 non-null  float64
 4   map                           40396 non-null  object
 5   bomb_planted                  40396 non-null  bool
 6   ct_health                     40396 non-null  float64
 7   t_health                      40396 non-null  float64
 8   ct_armor                      40396 non-null  float64
 9   t_armor                       40396 non-null  float64
 10  ct_money                      40396 non-null  float64
 11  t_money                       40396 non-null  float64
 12  ct_helmets                    40396 non-null  float64
 13  t_helmets                     40396 non-null  float64
 14  ct_defuse_kits                40396 non-null  float64
 15  ct_players_alive              40396 non-null  float64
 16  t_players_alive               40396 non-null  float64
 17  ct_weapon_ak47                40396 non-null  float64
 18  t_weapon_ak47                 40396 non-null  float64
 19  ct_weapon_aug                 40396 non-null  float64
 20  t_weapon_aug                  40396 non-null  float64
 21  ct_weapon_awp                 40396 non-null  float64
 22  t_weapon_awp                  40396 non-null  float64
 23  ct_weapon_bizon               40396 non-null  float64
 24  t_weapon_bizon                40396 non-null  float64
 25  ct_weapon_cz75auto            40396 non-null  float64
 26  t_weapon_cz75auto             40396 non-null  float64
 27  ct_weapon_elite               40396 non-null  float64
 28  t_weapon_elite                40396 non-null  float64
 29  ct_weapon_famas               40396 non-null  float64
 30  t_weapon_famas                40396 non-null  float64
 31  ct_weapon_g3sg1               40396 non-null  float64
 32  t_weapon_g3sg1                40396 non-null  float64
 33  ct_weapon_galilar             40396 non-null  float64
 34  t_weapon_galilar              40396 non-null  float64
 35  ct_weapon_glock               40396 non-null  float64
 36  t_weapon_glock                40396 non-null  float64
 37  ct_weapon_m249                40396 non-null  float64
 38  t_weapon_m249                 40396 non-null  float64
 39  ct_weapon_m4a1s               40396 non-null  float64
 40  t_weapon_m4a1s                40396 non-null  float64
 41  ct_weapon_m4a4                40396 non-null  float64
 42  t_weapon_m4a4                 40396 non-null  float64
 43  ct_weapon_mac10               40396 non-null  float64
 44  t_weapon_mac10                40396 non-null  float64
 45  ct_weapon_mag7                40396 non-null  float64
 46  t_weapon_mag7                 40396 non-null  float64
 47  ct_weapon_mp5sd               40396 non-null  float64
 48  t_weapon_mp5sd                40396 non-null  float64
 49  ct_weapon_mp7                 40396 non-null  float64
 50  t_weapon_mp7                  40396 non-null  float64
 51  ct_weapon_mp9                 40396 non-null  float64
 52  t_weapon_mp9                  40396 non-null  float64
 53  ct_weapon_negev               40396 non-null  float64
 54  t_weapon_negev                40396 non-null  float64
 55  ct_weapon_nova                40396 non-null  float64
 56  t_weapon_nova                 40396 non-null  float64
 57  ct_weapon_p90                 40396 non-null  float64
 58  t_weapon_p90                  40396 non-null  float64
 59  ct_weapon_r8revolver          40396 non-null  float64
 60  t_weapon_r8revolver           40396 non-null  float64
 61  ct_weapon_sawedoff            40396 non-null  float64
 62  t_weapon_sawedoff             40396 non-null  float64
 63  ct_weapon_scar20              40396 non-null  float64
 64  t_weapon_scar20               40396 non-null  float64
 65  ct_weapon_sg553               40396 non-null  float64
 66  t_weapon_sg553                40396 non-null  float64
 67  ct_weapon_ssg08               40396 non-null  float64
 68  t_weapon_ssg08                40396 non-null  float64
 69  ct_weapon_ump45               40396 non-null  float64
 70  t_weapon_ump45                40396 non-null  float64
 71  ct_weapon_xm1014              40396 non-null  float64
 72  t_weapon_xm1014               40396 non-null  float64
 73  ct_weapon_deagle              40396 non-null  float64
 74  t_weapon_deagle               40396 non-null  float64
 75  ct_weapon_fiveseven           40396 non-null  float64
 76  t_weapon_fiveseven            40396 non-null  float64
 77  ct_weapon_usps                40396 non-null  float64
 78  t_weapon_usps                 40396 non-null  float64
 79  ct_weapon_p250                40396 non-null  float64
 80  t_weapon_p250                 40396 non-null  float64
 81  ct_weapon_p2000               40396 non-null  float64
 82  t_weapon_p2000                40396 non-null  float64
 83  ct_weapon_tec9                40396 non-null  float64
 84  t_weapon_tec9                 40396 non-null  float64
 85  ct_grenade_hegrenade          40396 non-null  float64
 86  t_grenade_hegrenade           40396 non-null  float64
 87  ct_grenade_flashbang          40396 non-null  float64
 88  t_grenade_flashbang           40396 non-null  float64
 89  ct_grenade_smokegrenade       40396 non-null  float64
 90  t_grenade_smokegrenade        40396 non-null  float64
 91  ct_grenade_incendiarygrenade  40396 non-null  float64
 92  t_grenade_incendiarygrenade   40396 non-null  float64
 93  ct_grenade_molotovgrenade     40396 non-null  float64
 94  t_grenade_molotovgrenade      40396 non-null  float64
 95  ct_grenade_decoygrenade       40396 non-null  float64
 96  t_grenade_decoygrenade        40396 non-null  float64
dtypes: bool(1), float64(94), int64(1), object(1)
memory usage: 29.6+ MB

In [6]:
df_train.describe()

,time_left,ct_score,t_score,ct_health,t_health,ct_armor,t_armor,ct_money,t_money,ct_helmets,...,ct_grenade_flashbang,t_grenade_flashbang,ct_grenade_smokegrenade,t_grenade_smokegrenade,ct_grenade_incendiarygrenade,t_grenade_incendiarygrenade,ct_grenade_molotovgrenade,t_grenade_molotovgrenade,ct_grenade_decoygrenade,t_grenade_decoygrenade
count,82014.000000,82014.000000,82014.000000,82014.000000,82014.000000,82014.000000,82014.000000,82014.000000,82014.000000,82014.000000,...,82014.000000,82014.000000,82014.000000,82014.000000,82014.000000,82014.000000,82014.000000,82014.000000,82014.000000,82014.000000
mean,98.015517,6.701112,6.773319,412.824591,402.988051,314.445729,298.464433,9770.425781,11209.450216,2.053601,...,1.853293,1.858829,1.539627,1.625223,1.000927,0.019899,0.047724,1.352501,0.027690,0.026044
std,54.418579,4.762211,4.806576,131.745622,139.830286,171.023084,174.583765,11181.916111,12145.102354,1.842050,...,1.773655,1.795406,1.735208,1.828701,1.455789,0.144207,0.226601,1.663625,0.169207,0.165132
min,0.010000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,54.920000,3.000000,3.000000,352.000000,322.000000,194.000000,174.000000,1300.000000,1550.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,94.910000,6.000000,6.000000,500.000000,500.000000,378.000000,334.000000,5450.000000,7100.000000,2.000000,...,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,166.930000,10.000000,10.000000,500.000000,500.000000,486.000000,468.000000,14600.000000,17950.000000,4.000000,...,3.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000
max,175.000000,32.000000,33.000000,500.000000,600.000000,500.000000,500.000000,80000.000000,80000.000000,5.000000,...,6.000000,5.000000,5.000000,5.000000,5.000000,3.000000,3.000000,5.000000,3.000000,2.000000

In [7]:
df_test.describe()

,id,time_left,ct_score,t_score,ct_health,t_health,ct_armor,t_armor,ct_money,t_money,...,ct_grenade_flashbang,t_grenade_flashbang,ct_grenade_smokegrenade,t_grenade_smokegrenade,ct_grenade_incendiarygrenade,t_grenade_incendiarygrenade,ct_grenade_molotovgrenade,t_grenade_molotovgrenade,ct_grenade_decoygrenade,t_grenade_decoygrenade
count,40396.000000,40396.000000,40396.000000,40396.000000,40396.000000,40396.000000,40396.000000,40396.000000,40396.000000,40396.000000,...,40396.000000,40396.000000,40396.000000,40396.000000,40396.000000,40396.000000,40396.000000,40396.000000,40396.000000,40396.000000
mean,20198.500000,97.625842,6.725740,6.794881,410.648802,402.159125,313.525720,298.404545,9826.782355,11305.165115,...,1.852881,1.856619,1.543222,1.631053,1.004085,0.019655,0.048594,1.351272,0.027701,0.025151
std,11661.465074,54.559586,4.847031,4.857836,133.388027,140.099128,171.043699,174.564041,11282.042050,12198.571060,...,1.771057,1.792598,1.743082,1.830070,1.462747,0.143377,0.229823,1.662496,0.170188,0.162177
min,1.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,10099.750000,54.910000,3.000000,3.000000,346.000000,321.000000,193.000000,174.000000,1250.000000,1600.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,20198.500000,94.910000,6.000000,6.000000,500.000000,500.000000,377.000000,334.000000,5500.000000,7250.000000,...,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,30297.250000,166.910000,10.000000,10.000000,500.000000,500.000000,486.000000,468.000000,14650.000000,18100.000000,...,3.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000
max,40396.000000,175.000000,32.000000,33.000000,500.000000,500.000000,500.000000,500.000000,80000.000000,80000.000000,...,7.000000,7.000000,6.000000,9.000000,5.000000,3.000000,3.000000,5.000000,2.000000,2.000000

In [22]:
df_train.drop(columns=['map'], inplace=True)
df_test.drop(columns=['map'], inplace=True)

KeyError: "['map'] not found in axis"

In [9]:
df_bomba = pd.get_dummies(df_train.bomb_planted, dtype=int)
df_bomba.head(10)

   False  True
0      1      0
1      1      0
2      1      0
3      0      1
4      1      0
5      1      0
6      1      0
7      1      0
8      1      0
9      1      0

In [24]:
df_bomba2 = pd.get_dummies(df_test.bomb_planted, dtype=int)

In [10]:
df_train.dropna()

,time_left,ct_score,t_score,bomb_planted,ct_health,t_health,ct_armor,t_armor,ct_money,t_money,...,t_grenade_flashbang,ct_grenade_smokegrenade,t_grenade_smokegrenade,ct_grenade_incendiarygrenade,t_grenade_incendiarygrenade,ct_grenade_molotovgrenade,t_grenade_molotovgrenade,ct_grenade_decoygrenade,t_grenade_decoygrenade,target
0,114.95,4.0,0.0,False,500.0,500.0,493.0,400.0,3600.0,10200.0,...,2.0,5.0,1.0,4.0,0.0,0.0,2.0,0.0,0.0,CT
1,114.92,7.0,4.0,False,500.0,500.0,0.0,500.0,11950.0,13950.0,...,5.0,0.0,5.0,0.0,0.0,0.0,5.0,0.0,0.0,T
2,74.88,4.0,6.0,False,270.0,200.0,292.0,200.0,1700.0,7200.0,...,2.0,1.0,2.0,0.0,0.0,1.0,2.0,1.0,0.0,CT
3,21.46,1.0,1.0,True,100.0,268.0,100.0,385.0,150.0,1750.0,...,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,T
4,175.00,9.0,6.0,False,500.0,500.0,200.0,300.0,2700.0,650.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82009,94.90,7.0,3.0,False,400.0,400.0,395.0,345.0,2250.0,11350.0,...,3.0,4.0,2.0,2.0,0.0,0.0,4.0,0.0,0.0,CT
82010,55.69,9.0,11.0,False,400.0,379.0,400.0,357.0,450.0,10750.0,...,3.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,T
82011,114.95,1.0,0.0,False,500.0,500.0,500.0,300.0,450.0,1350.0,...,2.0,5.0,2.0,4.0,0.0,0.0,1.0,0.0,0.0,CT
82012,106.95,11.0,8.0,False,500.0,500.0,490.0,200.0,2050.0,9400.0,...,2.0,3.0,2.0,4.0,0.0,1.0,1.0,0.0,0.0,CT
82013,34.95,9.0,11.0,False,295.0,485.0,0.0,485.0,6950.0,19900.0,...,5.0,0.0,1.0,0.0,0.0,0.0,4.0,0.0,0.0,T

In [11]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
yhat = le.fit_transform(df_train['bomb_planted'])
df_train['bomb_planted'] = yhat

In [12]:
df_train

,time_left,ct_score,t_score,bomb_planted,ct_health,t_health,ct_armor,t_armor,ct_money,t_money,...,t_grenade_flashbang,ct_grenade_smokegrenade,t_grenade_smokegrenade,ct_grenade_incendiarygrenade,t_grenade_incendiarygrenade,ct_grenade_molotovgrenade,t_grenade_molotovgrenade,ct_grenade_decoygrenade,t_grenade_decoygrenade,target
0,114.95,4.0,0.0,0,500.0,500.0,493.0,400.0,3600.0,10200.0,...,2.0,5.0,1.0,4.0,0.0,0.0,2.0,0.0,0.0,CT
1,114.92,7.0,4.0,0,500.0,500.0,0.0,500.0,11950.0,13950.0,...,5.0,0.0,5.0,0.0,0.0,0.0,5.0,0.0,0.0,T
2,74.88,4.0,6.0,0,270.0,200.0,292.0,200.0,1700.0,7200.0,...,2.0,1.0,2.0,0.0,0.0,1.0,2.0,1.0,0.0,CT
3,21.46,1.0,1.0,1,100.0,268.0,100.0,385.0,150.0,1750.0,...,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,T
4,175.00,9.0,6.0,0,500.0,500.0,200.0,300.0,2700.0,650.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82009,94.90,7.0,3.0,0,400.0,400.0,395.0,345.0,2250.0,11350.0,...,3.0,4.0,2.0,2.0,0.0,0.0,4.0,0.0,0.0,CT
82010,55.69,9.0,11.0,0,400.0,379.0,400.0,357.0,450.0,10750.0,...,3.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,T
82011,114.95,1.0,0.0,0,500.0,500.0,500.0,300.0,450.0,1350.0,...,2.0,5.0,2.0,4.0,0.0,0.0,1.0,0.0,0.0,CT
82012,106.95,11.0,8.0,0,500.0,500.0,490.0,200.0,2050.0,9400.0,...,2.0,3.0,2.0,4.0,0.0,1.0,1.0,0.0,0.0,CT
82013,34.95,9.0,11.0,0,295.0,485.0,0.0,485.0,6950.0,19900.0,...,5.0,0.0,1.0,0.0,0.0,0.0,4.0,0.0,0.0,T

In [26]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
yhat1 = le.fit_transform(df_test['bomb_planted'])
df_test['bomb_planted'] = yhat

In [18]:
le = LabelEncoder()
yhat = le.fit_transform(df_train['target'])
df_train['target'] = yhat

In [19]:
df_train[['t_armor','ct_armor','bomb_planted','ct_score','t_score','ct_defuse_kits']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82014 entries, 0 to 82013
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   t_armor         82014 non-null  float64
 1   ct_armor        82014 non-null  float64
 2   bomb_planted    82014 non-null  int64
 3   ct_score        82014 non-null  float64
 4   t_score         82014 non-null  float64
 5   ct_defuse_kits  82014 non-null  float64
dtypes: float64(5), int64(1)
memory usage: 3.8 MB

In [27]:
usable_df = df_train[['t_armor','ct_armor','bomb_planted','ct_score','t_score','ct_defuse_kits', 'target']]

In [29]:
usable_df.head(10)

   t_armor  ct_armor  bomb_planted  ct_score  t_score  ct_defuse_kits  target
0    400.0     493.0             0       4.0      0.0             2.0       0
1    500.0       0.0             0       7.0      4.0             0.0       1
2    200.0     292.0             0       4.0      6.0             0.0       0
3    385.0     100.0             1       1.0      1.0             0.0       1
4    300.0     200.0             0       9.0      6.0             0.0       0
5     95.0     277.0             0       5.0      1.0             1.0       1
6    499.0     489.0             0       2.0      7.0             4.0       0
7    187.0      73.0             0       0.0      2.0             0.0       1
8    364.0     400.0             0       9.0     13.0             0.0       1
9    478.0     500.0             0       5.0      6.0             4.0       1