# Video Game Sales Task

#### 1. Import pandas module as pd

In [1]:
import pandas as pd

#### 2. Create variable vgs and read vgsales.csv file as dataframe in it

In [3]:
vgsales = pd.read_csv("17 vgsales.csv")

#### 3. Get first 10 rows from the dataframe

In [4]:
vgsales.head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

#### 4. Use info() method to know the information about number of entries in vgs dataframe

In [8]:
vgsales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

#### 5. Get average value of sales in Europe

In [12]:
vgsales["EU_Sales"].mean()

0.1466520062658483

#### 6. Get the highest value of sales in Japan

In [13]:
vgsales["JP_Sales"].max()

10.22

#### 7. What is the genre of "Brain Age 2: More Training in Minutes a Day" video game?

In [23]:
vgsales[vgsales['Name'] == "Brain Age 2: More Training in Minutes a Day"]["Genre"]

27    Puzzle
Name: Genre, dtype: object

#### 8. What is the amount of sales "Grand Theft Auto: Vice City" video game around the world?

In [27]:
vgsales[vgsales['Name'] == "Grand Theft Auto: Vice City"]["Global_Sales"]

24       16.15
13732     0.04
Name: Global_Sales, dtype: float64

#### 9. Get the name of the video game which has the highest sales in North America

In [9]:
vgsales[vgsales['NA_Sales'].max() == vgsales['NA_Sales']]["Name"]

0    Wii Sports
Name: Name, dtype: object

#### 10. Get the name of video game which has the smallest sales around the world

In [34]:
vgsales[vgsales['Global_Sales'].min() == vgsales['Global_Sales']]["Name"]

15980                                                Turok
15981                       Coven and Labyrinth of Refrain
15982    Super Battle For Money Sentouchuu: Kyuukyoku n...
15983                                     Dragon Zakura DS
15984                               Chameleon: To Dye For!
                               ...
16593                   Woody Woodpecker in Crazy Castle 5
16594                        Men in Black II: Alien Escape
16595     SCORE International Baja 1000: The Official Game
16596                                           Know How 2
16597                                     Spirits & Spells
Name: Name, Length: 618, dtype: object

#### 11. What is the average value of sales of all video games per genre in Japan?

In [5]:
vgsales.groupby("Genre").mean()["JP_Sales"]

Genre
Action          0.048236
Adventure       0.040490
Fighting        0.103007
Misc            0.061967
Platform        0.147596
Puzzle          0.098471
Racing          0.045388
Role-Playing    0.236767
Shooter         0.029221
Simulation      0.073472
Sports          0.057702
Strategy        0.072628
Name: JP_Sales, dtype: float64

Genre
Action          0.048236
Adventure       0.040490
Fighting        0.103007
Misc            0.061967
Platform        0.147596
Puzzle          0.098471
Racing          0.045388
Role-Playing    0.236767
Shooter         0.029221
Simulation      0.073472
Sports          0.057702
Strategy        0.072628
Name: JP_Sales, dtype: float64

#### 12. How many unique names of video games in this dataframe?

In [50]:
vgsales['Name'].nunique()

11493

#### 13. Get the 3 most common genres of video games worldwide

In [57]:
vgsales.sort_values('Genre')

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
8298,8300,The Lord of the Rings: Aragorn's Quest,PS3,2010.0,Action,Warner Bros. Interactive Entertainment,0.10,0.04,0.00,0.02,0.17
11584,11586,Legend of the Guardians: The Owls of Ga'Hoole,PS3,2010.0,Action,Warner Bros. Interactive Entertainment,0.06,0.01,0.00,0.01,0.08
11592,11594,Samurai Warriors 2,X360,2006.0,Action,Tecmo Koei,0.07,0.01,0.00,0.01,0.08
4138,4140,Up,PS2,2009.0,Action,THQ,0.19,0.05,0.00,0.24,0.48
4133,4135,Tomb Raider: Underworld,Wii,2008.0,Action,Eidos Interactive,0.14,0.28,0.00,0.06,0.48
...,...,...,...,...,...,...,...,...,...,...,...
6156,6158,Yu-Gi-Oh! World Championship 2008,DS,2007.0,Strategy,Konami Digital Entertainment,0.13,0.02,0.12,0.01,0.28
14037,14039,Super Robot Taisen: Scramble Commander the 2nd,PS2,2007.0,Strategy,Banpresto,0.00,0.00,0.04,0.00,0.04
15924,15927,RollerCoaster Tycoon: Gold Edition,PC,2002.0,Strategy,Infogrames,0.01,0.00,0.00,0.00,0.02
8281,8283,Space Battleship Yamato: Harukanaru Hoshi Isca...,PS,1999.0,Strategy,Namco Bandai Games,0.00,0.00,0.16,0.01,0.17
5781,5783,Lord of the Rings: Battle for Middle-Earth,X360,2006.0,Strategy,Electronic Arts,0.28,0.00,0.00,0.02,0.31

Action    3316
Sports    2346
Misc      1739
Name: Genre, dtype: int64

#### 14. How many video games have "super" word in their names?

In [19]:
a = 0
for x in vgsales["Name"]:
    if("Super" in x):
        a+=1 
    
print(a)

385

0                                              Wii Sports
1                                       Super Mario Bros.
2                                          Mario Kart Wii
3                                       Wii Sports Resort
4                                Pokemon Red/Pokemon Blue
                               ...
16593                  Woody Woodpecker in Crazy Castle 5
16594                       Men in Black II: Alien Escape
16595    SCORE International Baja 1000: The Official Game
16596                                          Know How 2
16597                                    Spirits & Spells
Name: Name, Length: 16598, dtype: object